<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List Contacts</title>
</head>
<body>
    <ul>
  {% for contacts in list_contacts %}
    <li>
      {{ contacts.name }} {{ contacts.last_name }}
      <a href="{% url 'edit_contact' id_contact=contacts.id %}">edit</a>
      <a href="{% url 'delete_contact' id_contact=contacts.id %}">delete</a>
    </li>
  {% endfor %}
  </ul>
  <a href="{% url 'add_contact' %}">Add contact</a>
  <a href="{% url 'log_out' %}">log out</a>
</body>
</html>
